body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 30px;
}

td {
    width: 100px;
}

input {
    border: 1px solid #dcdcdc;
    padding: 4px;
}

:focus {
    outline: none;
    border: 1px solid silver;
}

.btn {
    width: 100%;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

li{
    margin-bottom:4px;
}